@use '../base/variables' as vars;

@each $breakpoint, $size in vars.$breakpoints {
  @media (min-width: $size) {
    @for $i from 1 through vars.$grid-columns {
      .col-#{$breakpoint}-#{$i} {
        flex: 0 0 percentage($i / vars.$grid-columns);
        max-width: percentage($i / vars.$grid-columns);
      }
    }
  }
}

@each $breakpoint, $size in vars.$breakpoints {
    @media (min-width: $size) {
      @each $num, $gutter in vars.$gutters {
        .gx-#{$breakpoint}-#{$num} {
          column-gap: $gutter;
        }
        .gy-#{$breakpoint}-#{$num} {
          row-gap: $gutter;
        }
      }
    }
  }